## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

#java specific
*.class

# Package Files #
*.jar
*.war
*.ear

#netbeans ignore personal stuff
nbproject/private/

# Maven
log/
target/


##Intellij
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/



